RewriteEngine On
RewriteBase /sync-events/

# Redirect all requests to index.php except for actual files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
